---
import Badge from "../portfolio/Badge.astro";

interface Props {
  name: string;
  description: string;
  image?: string;
  skills?: string[];
  url?: string;
}

const {
  name,
  description,
  image = "/144x144.svg",
  skills = [],
  url = "#!",
} = Astro.props;
---

<article
  class="flex flex-col items-center p-3 pl-6 rounded-lg gap-x-8 dark:bg-secondary bg-slate-50 md:flex-row group hover:scale-[1.03] transition-transform duration-300 ease-out shadow border-gray-200"
>
  <div class="shrink-0">
    <a href={url}>
      <img
        class="h-36 w-36 animate-flip-up animate-once animate-ease-out"
        src={image}
        alt={`Project ${name}`}
      />
    </a>
  </div>

  <div>
    <div
      class="flex flex-col items-center justify-between md:flex-row gap-y-2 md:items-start"
    >
      <a
        class="group-hover:bg-gradient-to-br group-hover:from-secondary-light group-hover:to-primary-light group-hover:bg-clip-text group-hover:text-transparent"
        href={url}
      >
        <h3 class="text-xl font-semibold">{name}</h3>
      </a>
      <div class="flex flex-wrap gap-2">
        {skills.map((skill) => <Badge name={skill} />)}
      </div>
    </div>

    <p class="mt-3 text-gray-600 dark:text-gray-400">{description}</p>
  </div>
</article>
