---
import Item from "./Item.astro";
import workExperience from "../../constants/workExperience.json";
---

<section class="max-w-screen-lg px-3 py-6 mx-auto">
  <article class="animate-fade-up">
    <h2 class="mb-6 text-2xl font-bold">
      Work
      <span
        class:list={[
          "bg-gradient-to-br",
          "from-secondary-light",
          "to-primary-light",
          "bg-clip-text",
          "text-transparent",
        ]}
      >
        Experience
      </span>
    </h2>

    <section class="flex flex-col gap-6">
      {
        workExperience.map(({ name, description, image, skills, url }) => (
          <Item
            name={name}
            description={description}
            url={url}
            image={image}
            skills={skills}
          />
        ))
      }
    </section>
  </article>
</section>
