---
import { Image } from "astro:assets";
import Arrow from "../svg/Arrow.astro";
import Github from "../svg/Github.astro";
import { type ProjectType } from "../../types";

const projects: ProjectType[] = Astro.props.projects;
---

<style>
  dialog {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.5);
  }
</style>

<script>
  const dialog = document.querySelector("dialog");
  const showButtons = document.querySelectorAll(".btn-live");
  const closeButton = document.querySelector("#closeDialog");
  const continueButton = document.querySelector("#continueDialog");
  let tempUrl = "#!";

  showButtons.forEach((item: any) => {
    if (item.dataset.isWip === "true") {
      item.addEventListener("click", () => {
        tempUrl = item.dataset.url;
        dialog!.showModal();
        continueButton!.setAttribute("href", tempUrl);
      });
    }
  });
  closeButton!.addEventListener("click", () => {
    dialog!.close();
  });
  continueButton!.addEventListener("click", () => {
    dialog!.close();
  });
</script>

<dialog class="md:backdrop-blur-sm shadow-2xl w-full h-full">
  <section
    class="flex place-content-center place-items-center w-full h-full m-auto max-w-2xl"
  >
    <article class="bg-white p-5 rounded-lg">
      <header class="flex place-content-between place-items-center mb-5">
        <h2 class="text-xl font-bold tracking-tight text-gray-90">
          Exciting Progress!
        </h2>
        <a
          id="closeDialog"
          href="#!"
          class="btn-live inline-flex items-center text-white bg-gradient-to-br from-red-600 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 rounded-lg text-sm px-3 py-2.5 text-center mr-2 font-bold"
        >
          ╳
        </a>
      </header>
      <p class="mb-3 font-normal text-gray-700 line-clamp-6">
        Exciting Developments Underway! While this project is in progress,
        please note that certain features might still be in the works, and there
        could be some impact on performance due to our utilization of free
        services.
      </p>
      <a
        id="continueDialog"
        href="#!"
        target="_blank"
        class="btn-live inline-flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center mt-2"
      >
        Continue
      </a>
    </article>
  </section>
</dialog>

<div class="grid w-full gap-8 lg:gap-10 sm:grid-cols-2">
  {
    projects.map((project) => (
      <article class="relative w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary dark:border-gray-700 hover:scale-[1.03] transition-transform duration-300 ease-out mx-auto">
        {project.isWIP && (
          <p class="absolute top-0 right-0 px-3 py-1 m-px text-sm font-bold tracking-widest text-red-500 uppercase translate-x-px -translate-y-px rounded-tr-lg rounded-bl-lg bg-red-600/20">
            WIP
          </p>
        )}
        <Image
          class="rounded-t-lg aspect-video"
          src={project.image}
          alt={`Project ${project.title}`}
        />

        <div class="p-5">
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            {project.title}
          </h3>

          <p
            class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3"
            title={project.description}
          >
            {project.description}
          </p>
          <div class="flex justify-start mt-2">
            {project.repository && (
              <a
                href={project.repository}
                target="_blank"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2"
              >
                <Github className="mr-2" />
                Code
              </a>
            )}
            {project.link && (
              <a
                href={project.isWIP ? "#!" : project.link}
                target={project.isWIP ? "" : "_blank"}
                data-url={project.link}
                data-is-wip={project.isWIP.toString()}
                class="btn-live inline-flex items-center text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center mr-2"
              >
                Live Project <Arrow w={15} h={15} className="ml-2" />
              </a>
            )}
          </div>
        </div>
      </article>
    ))
  }
</div>
