---
import Badge from "./Badge.astro";

interface Props {
  name: string;
  description: string;
  image?: string;
  skills?: string[];
  url?: string;
}

const {
  name,
  description,
  image = "https://placehold.co/144x144",
  skills = [],
  url = "#!",
} = Astro.props;
---

<article
  class:list={[
    "flex",
    "flex-col",
    "items-center",
    "gap-x-8",
    "rounded-md",
    "dark:bg-secondary",
    "bg-slate-100",
    "pl-6",
    "p-3",
    "md:flex-row",
  ]}
>
  <div class="shrink-0">
    <a href={url}>
      <img
        class="h-36 w-36 animate-flip-up animate-once animate-ease-out"
        src={image}
        alt={`Project ${name}`}
      />
    </a>
  </div>

  <div>
    <div class="flex flex-col items-center gap-y-2 md:items-start">
      <a
        class="hover:bg-gradient-to-br hover:from-secondary-light hover:to-primary-light hover:bg-clip-text hover:text-transparent"
        href={url}
      >
        <h3 class="text-xl font-semibold">{name}</h3>
      </a>
      <div class="flex flex-wrap gap-2">
        {skills.map((skill) => <Badge name={skill} />)}
      </div>
    </div>

    <p class="mt-3 dark:text-gray-400 text-gray-600">{description}</p>
  </div>
</article>
